h2 {
    text-decoration: underline;
    color: green;
    padding: 20px;
}

.test-1 {
    font-size: 16px;
}

.box-model {
    padding: 5px;
    border-width: 2px;
    border-style: ridge;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.signup-button {
    background-color: #04AA6D;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.signup-button:hover {
    background-color:white;
    /* red */
    border: #04AA6D;
    border-width: 1px;
    border-style: groove;
    color: #04AA6D;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.login-button {
    background-color: white;
    color: #04AA6D;
    padding: 15px 32px;
    border: #04AA6D;
    border-style: groove;
    border-width: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.login-button:hover {
    background-color:#04AA6D;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.container {
    display: inline-grid;
}